<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Contact</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-6">
      Email is generally best for all communication: <b>aigc[AT]sjtu.edu.cn</b> <br><br>
      For visit and postal mail, our address is:<br>
      <p> Room B300, Student Innovation Center </p>
      <p> Shanghai Jiao Tong University </p>
      <p> 800 Dongchuan Road, Minhang </p>
      <p> Shanghai, China 200240 </p>
      </div>
    </div>
  </div>
</div>
