---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">Awards</h3>

<!-- 2024/06/20 CVPR -->
<div class="award">
    <div class="award-image">
      <img src="assets/img/awards/20240620_CVPR_Challange.jpg" alt="20240620 CVPR Challange 3rd Place">
    </div>
    <div class="award-details">
      <p><strong>CVPR EGO-Exo4D Challenge Competition</strong></p>
      <p><strong>3rd Place Award</strong></p>
      <div class="winner-details">
        <!--<img src="path/to/winner-image.jpg" alt="Winner Image">-->
        <p>Congsheng XU, Jinfan LIU, Yifan LIU, Shuwen WU, Yichao YAN, Weiming ZHAO</p>
      </div>
    </div>
</div>


<style>
.award {
  display: flex;
  margin-bottom: 20px;
}

.award-image img {
  max-width: 200px;
  margin-right: 20px;
}

.award-details {
  flex: 1;
}

.winner-details {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.winner-details img {
  max-width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

</style>