---
layout: default
---

<h3 class="fw-bold border-bottom pb-3 mb-5">Awards</h3>

<!-- 2024/09/30 ECCV -->
<div class="award">
  <div class="award-image">
    <img src="assets/img/awards/20240930_ECCV_Challange.jpg" alt="20240930 ECCV Challange Team ACE 2nd Place">
  </div>
  <div class="award-details">
    <p><strong>ARCTIC Challenge at the 8th HANDS Workshop, ECCV 2024</strong></p>
    <p><strong>2nd Best Performance</strong></p>
    <p><strong>October 12, 2024</strong></p>

    <div class="winners-container">
      <div class="winner-details">
        <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar">
        <span>Congsheng XU</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/classof2023/liuyitian.png" alt="Yitian LIU" class="winner-avatar">
        <span>Yitian LIU</span>
      </div>
      <div class="winner-details">
        <!-- <img src="path/to/winner2-image.jpg" alt="Yifan LIU" class="winner-avatar"> -->
        <span>Yi CUI</span>
      </div>
      <div class="winner-details">
        <!-- <img src="path/to/winner2-image.jpg" alt="Shuwen WU" class="winner-avatar"> -->
        <span>Jinfan LIU</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="winner-avatar">
        <span>Yichao YAN</span>
      </div>
      <div class="winner-details">
        <img src="assets/img/faculty/zhaoweiming.png" alt="Kevin ZHAO Weiming" class="winner-avatar">
        <span>Kevin ZHAO Weiming</span>
      </div>
    </div>
  </div>
</div>

<!-- 2024/06/20 CVPR -->
<div class="award">
    <div class="award-image">
      <img src="assets/img/awards/20240620_CVPR_Challange.jpg" alt="20240620 CVPR Challange 3rd Place">
    </div>
    <div class="award-details">
      <p><strong>EGO-Exo4D Challenge Body Pose, IEEE / CVF Computer Vision and Pattern Recognition Conference (CVPR)</strong></p>
      <p><strong>3rd Place Award</strong></p>
      <p><strong>June 17, 2024</strong></p>

      <div class="winners-container">
        <div class="winner-details">
          <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar">
          <span>Congsheng XU</span>
        </div>
        <div class="winner-details">
          <!-- <img src="path/to/winner2-image.jpg" alt="Jinfan LIU" class="winner-avatar"> -->
          <span>Jinfan LIU</span>
        </div>
        <div class="winner-details">
          <!-- <img src="path/to/winner2-image.jpg" alt="Yifan LIU" class="winner-avatar"> -->
          <span>Yifan LIU</span>
        </div>
        <div class="winner-details">
          <!-- <img src="path/to/winner2-image.jpg" alt="Shuwen WU" class="winner-avatar"> -->
          <span>Shuwen WU</span>
        </div>
        <div class="winner-details">
          <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="winner-avatar">
          <span>Yichao YAN</span>
        </div>
        <div class="winner-details">
          <img src="assets/img/faculty/zhaoweiming.png" alt="Kevin ZHAO Weiming" class="winner-avatar">
          <span>Kevin ZHAO Weiming</span>
        </div>
      </div>
    </div>
</div>



<style>
.award {
  display: flex;
  flex-wrap: wrap; /* allow newline in small screen */
  margin-bottom: 20px;
}

.award-image {
  flex: 0 1 200px;
  margin-right: 20px;
}

.award-image img {
  max-width: 100%;
  height: auto;
}

.award-details {
  flex: 1;
}

.winners-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* gap between winners */
}

.winner-details {
  display: flex;
  align-items: center;
}

.winner-avatar {
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.winner-details span {
  line-height: 50px; /* align with imgs */
}

/* media check for mobiles if width less than 768px*/
@media (max-width: 768px) {
  .award {
    flex-direction: column; /* convert to column */
  }
  .award-image {
    margin-bottom: 20px; /* bottom margin */
    margin-right: 0; /* delete right margin */
  }
  .winners-container {
    justify-content: center; /* center */
  }
}
</style>